---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import About from '/src/content/contact/about.md';
import Connect from '/src/content/contact/connect.md';
import Schedule from '/src/content/contact/schedule.md';

const entry = (await getEntry(
  "contact",
  "-index"
)) as CollectionEntry<"contact">;
const { title, image, content } = entry.data;

---
<Base title={title} image={image}>
  <section class="section pb-0">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="md:col-4 mb-8">
            {title && <h3 set:html={markdownify(title)} />}
            <p set:html={content} />
          </div>
          <div class="md:col-4 mb-8">
            <About />
          </div>
          <div class="md:col-4 mb-8">
            <Connect />
          </div>
        </div>
        <div class="row justify-center align-center mt-16 bg-white md:px-30 md:py-15">
          <div class="lg:col-4">
            <Schedule />
          </div>
          <div class="mt-6 lg:col-8 lg:mt-0">
            <!-- Google Calendar Appointment Scheduling begin -->
              <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ2imaZlgw36uejCCgx9jlLFGVaUOScxmX5bokgMNQly_oPnEWVusE3jHQ4uHpFhU2S6vDKA-3kX?gv=true" style="border: 0" width="100%" height="1200" frameborder="0"></iframe>
            <!-- end Google Calendar Appointment Scheduling -->
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
