---
import { settings } from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/components/Cta.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Post from "@/layouts/partials/Post.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const homepage = (await getEntry(
  "homepage",
  "-index"
)) as CollectionEntry<"homepage">;
const { banner, call_to_action } = homepage.data;
const posts = await getSinglePage("posts");
const sortPostByDate = sortByDate(posts);
const totalPages = Math.ceil(posts.length / settings.pagination);
---

<Base>
  <!-- Banner -->
  <section
    class="banner bg-stone-100"
  >
    <div class="container">
      <div class="row items-center">
        <div class="md:col-6 mb-20 md:mb-0">
          {
            banner?.title && (
              <h1 set:html={markdownify(banner?.title)} class="lg:text-6xl uppercase my-8" />
							<a href="/about" class="btn btn-outline-primary">Learn more</a>
              <a href="/about#resume" class="btn btn-primary ml-4">Resume</a>
            )
          }
        </div>
				<div class="md:col-6">
					{
						banner?.image && (
							<Image
								class="rounded-lg"
								src={banner?.image}
								width={768}
								height={385}
								alt=""
							/>
						)
					}
				</div>
      </div>
    </div>
  </section>
  <!-- /End Banner -->
	 <section class="bg-stone-700 text-light p-20">
		<div>
			<h2 class="text-light">About Me</h2>
		</div>
		<div>hello</div>
	 </section>

  <!-- <Cta cta={call_to_action} /> -->
</Base>
