---
import Base from '../layouts/Base.astro';
import PhotographyGrid from '@/components/PhotographyGrid.astro';
import '@/styles/photography.css';
---
<Base title="Photography">
  <section class="container mx-auto px-4">
    <header class="py-12 text-center">
      <h1 class="text-h1-sm md:text-h1 font-primary">Photography</h1>
    </header>
  <PhotographyGrid />
  </section>
</Base>

